
.location {
    display: flex;
}

.location-data {
    flex: 1;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        font-size: 140%;
        margin: 5%;
    }

}

.location-map {
    flex: 1;
    margin-right: 10%;
    /*commit*/
    border: 5px solid beige;
    border-radius: 3%;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
}

.contact {
    margin: 6%;
}

.contact > * {
    text-align: center;
}

.person {
    font-size: 150%;
    margin: 2%;
}