
button {
    font-family: "Brewed Coffee";
    font-size: 150%;
    color: beige;
    background-color: rgba(0,0,0,0.4);
    border: 5px solid beige;
    border-radius: 10%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0.5%;
}