
.quotes-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    
}

.quote {
    font-size: 130%;
    text-align: center;
    font-style: italic;
}

.author {
    font-size: 80%;
    text-align: center;
}

.caffeImg {
    border: 10px solid beige;
    border-radius: 5%;
    margin: 5%;
}