body, html {
    padding: 0;
    margin: 0;
    overflow: auto;
    background-image: url("./images/coffeeBeans.png");
    font-family: 'Brewed Coffee';
    color: beige;
    text-align: center;
}

#content {
    background-color: #bb6528;
    width: 85%;
    margin: auto;
    border-radius: 2%;
    padding: 1%;
}

#content > * {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}