@font-face {
    font-family: "Brewed Coffee";
    src: url("./fonts/Brewed Coffee.otf");
}

body, html {
    padding: 0;
    margin: 0;
    overflow: auto;
    background-image: url("./images/coffeeBeans.png");
    background-attachment: fixed;
    font-family: 'Brewed Coffee';
    color: beige;
    text-align: center;
}

#content {
    background-color: rgba(0, 0, 0, 0.4);
    width: 85%;
    margin: auto;
    border-radius: 2%;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 4%;
}

#content > * {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

h1 {
    font-size: 300%;
    text-decoration: underline;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.logo-img {
    width: 10%;
    height: auto;
}

.main-header {
    font-size: 450%;
}

footer {
    background-color: rgba(0, 0, 0, 0.4);
    p {
        margin: 0;
        padding: 1.5%;
    }
}